<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
    <div class="pageContent">
        <div class="aboutHeading">
            <h1>A little bit about me...</h1>
        </div>
        <div class="aboutTopFlex">
            <p>I'm working towards my goal of becoming a full time software engineer and that journey has
            given me a wide variety of experiences in both technical, and non-technical roles. I think that's 
            important because as critical as technical skills are social skills, work ethic, and communication 
            are skills essential to a successful developer. Below you can see a summary of my skills and experiences
            or you can download my resume <a href="./KrisOud-Resume.pdf" download="KrisOud-Resume.pdf">here</a>.</p>
            
            <img class="selfPortrait" src="./imgs/Me.png"/>
        </div>

        <% for (datum in data) { %>
            <% if(data[datum].divClass=="heading") { %>
                <div class="aboutHeading">
                    <h1> <%= data[datum].desc %> </h1>
                </div>
            <% } %>

            <% if(data[datum].divClass=="simpleLinkCard") { %>
                <%- include('./partials/cardPartials/simpleLinkCard', { props: data[datum].props }) %>
            <% } %>

            <% if(data[datum].divClass=="listingCard") { %>
                <%- include('./partials/cardPartials/listingCard', { props: data[datum].props }) %>
            <% } %>

            <% if(data[datum].divClass=="simpleCard") { %>
                <%- include('./partials/cardPartials/simpleCard', { props: data[datum].props }) %>
            <% } %>
        <% } %>
    </div>
<%- include('./partials/footer') %>
